<%= form_for(@escuela) do |f| %>
  <% if @escuela.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@escuela.errors.count, "error") %> prohibited this escuela from being saved:</h2>

      <ul>
      <% @escuela.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %><br />
    <%= f.text_field :numero %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :localidad_id %><br />
    <%= f.grouped_collection_select(:localidad_id, Region.all, :localidad, :nombre, :id, :nombre) %>
  </div>
  <div class="field">
    <%= f.label :nivel_id %><br />
    <%= f.collection_select :nivel_id, Nivel.all, :id, :nombre %>
  </div>
  <div class="field">
    <%= f.label :jornada_id %><br />
    <%= f.collection_select :jornada_id, Jornada.all, :id, :nombre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
