<div class="row">
  <div class="span12">
    <p class="lead" align="center"><b>Escuela <%= @escuela.nombre %></b> N° <b><%= @escuela.numero %> de la localidad de </b> <%= @escuela.localidad %></p>
    <div class="row">
      <div class="span3">
        <ul class="nav nav-list">
          <li class="nav-header">Datos Escuela</li>
          <li><%= link_to 'ver', @escuela %></li>
          <li><%= link_to 'editar', edit_escuela_path(@escuela) %></li>
          <li class="nav-header">Menaje</li>
            <li><a href="<%= url_for :controller => "inventario_menajes", :action => "listado_escuela", :idEscuela => @escuela.id %>">ver Menaje</a></li>
          <li class="nav-header">Equipamiento</li>
            <li><a href="<%= url_for :controller => "inventario_equipamientos", :action => "listado_escuela", :idEscuela => @escuela.id %>">ver equipamiento</a></li>                  
        </ul>
      </div>
      <div class="span9">
          <p>
            <b>Localidad:</b>
            <%= @escuela.localidad %>
          </p>
          <p>
            <b>Nivel:</b>
            <%= @escuela.nivel %>
          </p>
          <p>
            <b>Jornada:</b>
            <%= @escuela.jornada %>
          </p>
          <%= link_to 'Volver', escuelas_path%>
      </div>
    </div>
  </div>
</div>




