<p id="notice"><%= notice %></p>

<p>
  <b>Numero:</b>
  <%= @escuela.numero %>
</p>

<p>
  <b>Nombre:</b>
  <%= @escuela.nombre %>
</p>

<p>
  <b>Localidad:</b>
  <%= @escuela.localidad %>
</p>

<p>
  <b>Nivel:</b>
  <%= @escuela.nivel %>
</p>

<p>
  <b>Jornada:</b>
  <%= @escuela.jornada %>
</p>


<%= link_to 'Editar', edit_escuela_path(@escuela), :class => "btn" %> |
<%= link_to 'Volver', escuelas_path, :class => "btn" %>
