<h1>Listado de users</h1>

<table class="table table-stripped">
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= link_to 'ver', user %></td>
    <td><%= link_to 'editar', edit_user_path(user) %></td>
    <td><%= link_to 'eliminar', user, confirm: 'Desea eliminar?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Agregar User', new_user_path %>
