<h1>Listado de tipo_de_equipamientos</h1>

<table class="table table-stripped">
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipo_de_equipamientos.each do |tipo_de_equipamiento| %>
  <tr>
    <td><%= tipo_de_equipamiento.nombre %></td>
    <td><%= tipo_de_equipamiento.descripcion %></td>
    <td><%= link_to 'ver', tipo_de_equipamiento %></td>
    <td><%= link_to 'editar', edit_tipo_de_equipamiento_path(tipo_de_equipamiento) %></td>
    <td><%= link_to 'eliminar', tipo_de_equipamiento, method: :delete, data: { confirm: 'Desea eliminar?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Agregar Tipo de equipamiento', new_tipo_de_equipamiento_path %>
