<h1>Listing inventario_equipamientos</h1>

<table class="table table-stripped">
  <tr>
    <th>Escuela</th>
    <th>Ultima modificacion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inventario_equipamientos.each do |inventario_equipamiento| %>
  <tr>
    <td><%= inventario_equipamiento.escuela_id %></td>
    <td><%= inventario_equipamiento.ultima_modificacion %></td>
    <td><%= link_to 'Ver', inventario_equipamiento %></td>
    <td><%= link_to 'Editar', edit_inventario_equipamiento_path(inventario_equipamiento) %></td>
    <td><%= link_to 'Eliminar', inventario_equipamiento, method: :delete, data: { confirm: 'Seguro desear eliminar?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inventario equipamiento', new_inventario_equipamiento_path %>
