<div class="row">
  <div class="span12">
    <p class="lead" align="center"><b>Escuela <%= @escuela.nombre %></b> N° <b><%= @escuela.numero %> de la localidad de </b> <%= @escuela.localidad %></p>
    <div class="row">
      <div class="span3">
        <ul class="nav nav-list">
          <li class="nav-header">Datos Escuela</li>
          <% if can? :read, Escuela %><li><%= link_to 'ver', @escuela %></li><% end %>
          <% if can? :update, Escuela %><li><%= link_to 'editar', edit_escuela_path(@escuela) %></li><% end %>
          <li class="nav-header">Menaje</li>
            <% if can? :read, RenglonInventarioMenaje %><li><a href="<%= url_for :controller => "inventario_menajes", :action => "listado_escuela", :idEscuela => @escuela.id %>">ver Menaje</a></li><% end %>
          <li class="nav-header">Equipamiento</li>
            <% if can? :read, RenglonInventarioEquipamiento %><li><a href="<%= url_for :controller => "inventario_equipamientos", :action => "listado_escuela", :idEscuela => @escuela.id %>">ver Equipamiento</a></li><% end %>
        </ul>
      </div>


      <form class="form-search" action="<%= url_for :controller => "inventario_equipamientos", :action => "listado_escuela"%>">
        <div class="input-prepend">
          <button type="submit" class="btn" >Buscar</button>
          <select name="q">
            <%TipoDeEquipamiento.all.each do |tde|%>
              <option value="<%= tde.id %>"><%= tde %></option>
            <% end %>
          </select>          
        </div>
      </form>



      <div class="span9">
        <table class="table table-bordered table-striped">
            <tr>
              <th>Cantidad</th>
              <th>Tipo de equipamiento</th>
              <% if can? :destroy, RenglonInventarioEquipamiento %><th></th><% end %>
            </tr>
          <% @renglon_inventario_equipamiento.each do |rie| %>
            <tr>
              <td>
                <% if can? :update, RenglonInventarioEquipamiento %>
                  <a href="#" id="cantidad_<%= rie.id%>" name="cantidad" data-type="text" data-pk="<%=rie.id%>" data-url="<%= url_for :controller => "inventario_equipamientos", :action => "modificar_elemento_inventario" %>" name="cantidad" data-original-title="Ingrese cantidad"><%= rie.cantidad %></a>
                <% elsif can? :read, RenglonInventarioEquipamiento %>
                  <%= rie.cantidad %>
                <% end %>
              </td>
              <td><%= rie.tipo_de_equipamiento %></td>
              <!--inventario_equipamientos#quitar_elemento_inventario-->
              <% if can? :destroy, RenglonInventarioEquipamiento %><td><a href="<%= url_for :controller => "inventario_equipamientos", :action => "quitar_elemento_inventario", :idElementoInventario => rie.id %>" onclick="return confirm('Realmente desea eliminar?')"> <span class="badge badge-important"> eliminar </span></a></td><% end %>
            </tr>
          <% end %>
          <% @renglon_inventario_equipamiento.each do |rie| %>
            <script type="text/javascript">
               $('#cantidad_<%= rie.id%>').editable({
                  type: 'text',
                  pk: 1,
                  url: '#',
                  title: 'Ingrese cantidad',
                  mode: 'inline'
               });
            </script>
          <% end %>
          </table>
          <br />

          <% if can? :create, RenglonInventarioEquipamiento %><a href="#myModal" role="button" data-toggle="modal"><span class="badge badge-success">Agregar equipamiento</span></a><% end %>
      </div>
   </div>
  </div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Agregar Equipamiento al Inventario</h3>
  </div>
  <div class="modal-body">
    <form action="<%=url_for :controller => "inventario_equipamientos", :action => "agregar_elemento_inventario"%>" >
      <input type="hidden" id="idInventario" name="idInventario" value="<%=@inventario_equipamientos.id%>">
      <input type="text" id="cantidad" name="cantidad" placeholder="cantidad" class="input-mini">
      <select id="tipo_de_equipamiento" name="tipo_de_equipamiento">
        <% TipoDeEquipamiento.all.each do |tde|%>
          <option value="<%= tde.id %>"><%= tde %></option>
        <% end %>
      </select>
      <input type="submit" value="agregar al inventario" class="btn btn-primary">
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
  </div>
</div>