<p id="notice"><%= notice %></p>

<% @escuela = Escuela.where(:id => @inventario_equipamiento.escuela_id).first %>

<p><h2>Inventario Escuela <%= @inventario_equipamiento.escuela %> - <%= @escuela.localidad %></h2></p>

<p>
  <b>Escuela:</b>
  <%= @inventario_equipamiento.escuela %>
</p>

<p>
  <b>Ultima modificacion:</b>
  <%= @inventario_equipamiento.ultima_modificacion %>
</p>


<a href="#myModal" role="button" class="btn btn-success" data-toggle="modal">Agregar Inventario Equipamiento</a>


<!-- <form action="<%= url_for :controller =>  "inventario_equipamientos", :action => "agregar_renglon_inventario_equipamientos" %>"> -->

    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Nuevo inventario de equipamiento</h3>
      </div>
      <div class="modal-body">
        
        
          <label>Cantidad</label>
          <input type="text_field" id="cantidad"></br>
          <label>Fecha de alta</label>
          <input type="text_field" id="fecha_de_alta"></br>
          <label>Inventario equipamiento id</label>
          <input type="text_field" id="inventario_equipamiento_id"></br>
          <label>Quien Modifica</label>
          <input type="text_field" id="quien_modifica"></br>
          <label>Tipo de Equipamiento</label>
          <input type="text_field" id="tipo_de_equipamiento_id"></br>
          <label>Usuario</label>
          <input type="text_field" id="user"></br>
    
        
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
       <!--  <input type="submit" class="btn btn-primary" name="agregar renglon inventario equipamiento" value="Guardar"> -->
        <a href="<%=url_for inventario_equipamientos_agregar_renglon_inventario_equipamientos_path%>/1/" ><i class="btn btn-primary">Guardar</i>
       <!--  <button class="btn btn-primary" type="submit" name="cargar renglon inventario equipamiento" >Guardar</button> -->
      </div>
    </div> 

<!-- </form> -->

</br></br>

<%= link_to 'Editar', edit_inventario_equipamiento_path(@inventario_equipamiento) %> |
<%= link_to 'Volver', inventario_equipamientos_path %>
