<p id="notice"><%= notice %></p>

<% @escuela = Escuela.where(:id => @inventario_equipamiento.escuela_id).first %>

<p><h2>Inventario Escuela <%= @inventario_equipamiento.escuela %> - <%= @escuela.localidad %></h2></p>

<p>
  <b>Escuela:</b>
  <%= @inventario_equipamiento.escuela %>
</p>

<p>
  <b>Ultima modificacion:</b>
  <%= @inventario_equipamiento.ultima_modificacion %>
</p>


<a href="" class="btn btn-success"> Agregar Inventario Equipamiento</a></br></br>
<a href="" class="btn btn-success"> Agregar Inventario Menaje</a></br></br>

<%= link_to 'Editar', edit_inventario_equipamiento_path(@inventario_equipamiento) %> |
<%= link_to 'Volver', inventario_equipamientos_path %>
