<h1>Listing inventario_menajes</h1>

<table>
  <tr>
    <th>Escuela</th>
    <th>Ultima modificacion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inventario_menajes.each do |inventario_menaje| %>
  <tr>
    <td><%= inventario_menaje.escuela_id %></td>
    <td><%= inventario_menaje.ultima_modificacion %></td>
    <td><%= link_to 'Show', inventario_menaje %></td>
    <td><%= link_to 'Edit', edit_inventario_menaje_path(inventario_menaje) %></td>
    <td><%= link_to 'Destroy', inventario_menaje, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inventario menaje', new_inventario_menaje_path %>
