<div class="row">
  <div class="span12">
    <p class="lead" align="center"><b>Escuela <%= @escuela.nombre %></b> N° <b><%= @escuela.numero %> de la localidad de </b> <%= @escuela.localidad %></p>
    <div class="row">
      <div class="span3">
        <ul class="nav nav-list">
          <li class="nav-header">Datos Escuela</li>
          <li><%= link_to 'ver', @escuela %></li>
          <li><%= link_to 'editar', edit_escuela_path(@escuela) %></li>
          <li class="nav-header">Menaje</li>
            <li><a href="<%= url_for :controller => "inventario_menajes", :action => "listado_escuela", :idEscuela => @escuela.id %>">ver Menaje</a></li>
          <li class="nav-header">Equipamiento</li>
            <li><a href="<%= url_for :controller => "inventario_equipamientos", :action => "listado_escuela", :idEscuela => @escuela.id %>">ver Equipamiento</a></li>
        </ul>
      </div>
      <div class="span9">
        <table class="table table-bordered table-striped">
            <tr>
              <th>Cantidad</th>
              <th>Tipo de Menaje</th>
              <th></th>
            </tr>
          <% @renglon_inventario_menaje.each do |rim| %>
            <tr>
              <td><a href="#" id="cantidad_<%= rim.id%>" name="cantidad" data-type="text" data-pk="<%=rim.id%>" data-url="<%= url_for :controller => "inventario_menajes", :action => "modificar_elemento_inventario" %>" name="cantidad" data-original-title="Ingrese cantidad"><%= rim.cantidad %></a>
              </td>
              <td><%= rim.tipo_de_menaje %></td>
              <!--inventario_menajes#quitar_elemento_inventario-->
              <td><a href="<%= url_for :controller => "inventario_menajes", :action => "quitar_elemento_inventario", :idElementoInventario => rim.id %>" onclick="return confirm('Realmente desea eliminar?')"> <span class="badge badge-important"> eliminar </span></a></td>
            </tr>
          <% end %>
          <% @renglon_inventario_menaje.each do |rim| %>
            <script type="text/javascript">
               $('#cantidad_<%= rim.id%>').editable({
                  type: 'text',
                  pk: 1,
                  url: '#',
                  title: 'Ingrese cantidad',
                  mode: 'inline'
               });
            </script>
          <% end %>
          </table>
          <br />

          <a href="#myModal" role="button" data-toggle="modal"><span class="badge badge-success">Agregar menaje</span></a>
      </div>
   </div>
  </div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Agregar Menaje al Inventario</h3>
  </div>
  <div class="modal-body">
    <form action="<%=url_for :controller => "inventario_menajes", :action => "agregar_elemento_inventario"%>" >
      <input type="hidden" id="idInventario" name="idInventario" value="<%=@inventario_menajes.id%>">
      <input type="text" id="cantidad" name="cantidad" placeholder="cantidad" class="input-mini">
      <select id="tipo_de_menaje" name="tipo_de_menaje">
        <% TipoDeMenaje.all.each do |tdm|%>
          <option value="<%= tdm.id %>"><%= tdm %></option>
        <% end %>
      </select>
      <input type="submit" value="agregar al inventario" class="btn btn-primary">
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
  </div>
</div>